
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');


:root {  
--pale-blue: hsl(225, 100%, 94%);
--bright-blue: hsl(245, 75%, 52%);
--very-pale-blue: hsl(225, 100%, 98%);
--desaturated-blue: hsl(224, 23%, 55%);
--dark-blue: hsl(223, 47%, 23%);
    }


body{
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--pale-blue);
    font-size: 16px;
    font-family: "Red Hat Display", sans-serif;
    }


.card{
   
        width: 450px;
        display: block;
        margin: 150px auto;
        background-color: white;
        color: var(--desaturated-blue);
        border-radius: 20px;
        overflow: hidden;
    }


.title{
    
    color: var(--dark-blue);
    font-weight: 900;
    font-size: 35px;
    
    }


.girl{
width: 100%;
    }

.container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            padding: 30px;
            font-size: 18px;
        }

.container > *{
            margin: 13px 0;
        }

.container strong{
            color: var(--dark-blue);
        }


.plan-container{
             font-size: 16px;
             background-color: var(--very-pale-blue);
             padding: 25px;
             border-radius: 10px;
             display:flex;
             flex-direction: row;
             justify-content: space-between;
             align-items: center;
            }

.plan-container a {
    color: var(--bright-blue);
    font-size: 13px;
    font-weight: 700;
        }

.plan-container a:hover{
            color: var(--bright-blue-hover);
            text-decoration: none;
        }


.plan{
    margin-right: 75px;
    margin-top: 23px;
    line-height: 10px;
}

button{
  
    border:none;
    font-weight: 700;
    font-size: 0.9rem;
    border-radius: 10px;
    cursor: pointer;
}

.payment{
    width: 80%;
    align-items: center;
    margin-left: 45px;
    background-color: var(--bright-blue);
    padding: 1rem 0;
    color: white;
    box-shadow: 0 20px 30px -8px rgb(197, 189, 245);
}

.payment:hover{
    opacity: 90%;
}

.cancel{
    width: 30%;
    margin-left: 155px;
    
   
    background-color: white;
    color: var(--desaturated-blue);
    border: none;
    margin-top: 22px;
    margin-bottom: 22px;
}
.cancel:hover{
    color: black;
}
